# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: env files
.env

# Build artifacts (keep your min file, ignore maps)
dist/*.map

# OS junk
.DS_Store
Thumbs.db
